<p style="color: green"><%= notice %></p>
<%= image_tag ("/assets/images/me.jpg"), class: "img-responsive"%>

<h1>Stores</h1>

<div>
  <div id='14' data-model-id=''><div>
</div>

<div id="stores">
  <%# @stores.each do |store| %>
    <%#= render store %>
    <p>
      <%#= link_to "Show this store", store %>
    </p>
    
        <%# store.stocks.each do |stock|%>
          <tr>
            <td><%#= stock.shoe_model.name %></td>
            <td ><%#= stock.count %></td>
          </tr>
        <%# end %>
      </tbody>
    </table>
  <%# end %>
</div>

<%= link_to "New store", new_store_path %>


<ul class="nav nav-pills" id="myTab" role="tablist">
  <% @stores.each do |store| %>
    <li class="nav-item" role="presentation">
      <button 
        class="nav-link" 
        id="<%= store.name.parameterize %>-tab" 
        data-bs-toggle="tab" 
        data-bs-target="#<%= store.name.parameterize %>" 
        type="button" 
        role="tab" 
        aria-controls="<%= store.name.parameterize %>" 
        aria-selected="true"
      >
      <%= store.name %> 
      <span id="<%= store.name.parameterize %>-badge-lower"  class="badge bg-danger"><%= store.stocks.last_records.below_lower_limit.size %></span>
      <span id="<%= store.name.parameterize %>-badge-upper"  class="badge bg-primary"><%= store.stocks.last_records.over_upper_limit.size %></span>
      </button>
    </li>
  <% end %>
</ul>
<div class="tab-content" id="myTabContent">
  <% @stores.each do |store| %>
    <div class="tab-pane fade show" id="<%= store.name.parameterize %>" role="tabpanel" aria-labelledby="<%= store.name.parameterize %>-tab">
      <%= render partial: 'store_inventory', :locals => {:store => store } %>
    </div>
  <% end %>
</div>

<script>
function moveItems(from_store_id, to_store_id, shoe_model_id) {
  // console.log(from_store_id, to_store_id, shoe_model_id);
  $.post(
    '/stocks/move', 
    {
      move_from_store_id: from_store_id,
      move_to_store_id: to_store_id,
      shoe_model_id: shoe_model_id
    }, 
    function(data) {
      console.log(data);
    });
}
</script>
